.profile {
  padding: 1rem 20% 0 20%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 200px;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.content {
  grid-area: content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  margin-top: 30px;
}

.list li {
  padding: 10px 0 0 0;
}

.list strong {
  padding-right: 10px;
}

.logout {
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}

.logout:hover {
  background-color: rgb(31, 31, 31);
}

.logout:active {
  background-color: rgb(90, 90, 90);
}

.main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 250px 350px 200px;
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar content content"
    "sidebar content content";
}

.info {
  height: 200px;
  background-color: white;
  display: flex;
  align-items: center;
}

.info p {
  display: inline-block;
  width: 20px;
}

.circle {
  position: relative;
  left: -10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2d2d2d;
}

.links {
  margin-top: 10px;
}

.link {
  margin: 10px 0 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.a {
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.h3 {
  margin-top: 30px;
}

.product {
  width: 200px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2d2d2d;
}

.product img {
  width: 200px;
}

.block {
  margin-top: -35px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.block button {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 70px;
  background-color: white;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
}

.block button:hover {
  background: #eee;
  color: rgb(129, 129, 129);
  border: 1px solid #afafaf;
}

.block button:active {
  background: #eee;
  color: black;
  border: 1px solid #afafaf;
}

.product p {
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 10px;
}

.product span {
  color: #2d2d2d;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.sum {
  margin-top: 20px;
  width: 200px;
  padding: 20px;
  border: 1px solid black;
}

.buy {
  background-color: black;
  color: white;
  border: 1px solid #999;
  text-align: center;
  font-size: 13px;
  padding: 15px;
  margin-top: 20px;
}

.buy:hover {
  background-color: rgb(58, 58, 58);
}

.buy:active {
  background-color: rgb(110, 110, 110);
}
