.header {
  display: flex;
  align-items: center;
  background-color: #2d2d2d;
  height: 60px;
  padding: 0 20rem;
}

.logo {
  color: white;
  padding-right: 10px;
  font-weight: bolder;
  font-size: 25px;
}

.block {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #525050;
}

.name {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
}

.form {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0 50px;
}

.input {
  width: 600px;
  border-radius: 30px;
  height: 40px;
  margin-right: -40px;
}

.button {
  background: none;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover .searchIcon {
  width: 20px;
  height: 20px;
}

.button:active .searchIcon {
  width: 20px;
  height: 20px;
}

.searchIcon {
  width: 15px;
  height: 15px;
  transition: width 1s, height 1s;
}

.btn {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 50%;
}

.img {
  width: 15px;
  height: 15px;
}

@media (max-width: 1828px) {
  .name {
    padding: 0 20px;
  }
  .input {
    width: 400px;
  }
}

@media (max-width: 1612px) {
  .header {
    padding: 0 10rem;
  }
  .name {
    padding: 0 5px;
  }
  .input {
    width: 500px;
  }
  .btn {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .input {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 0 0 0 3%;
  }
  .name {
    padding: 0 5px;
  }
  .input {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .input {
    width: 200px;
  }
}

@media (max-width: 376px) {
  .header {
    height: 40px;
    padding: 0rem;
  }

  .logo {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    font-size: 15px;
  }

  .block {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .name {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .form {
    margin: 0 10px;
  }

  .input {
    width: 80px;
    border-radius: 10px;
    height: 20px;
    margin-right: -30px;
  }

  .btn {
    margin: 0 2px;
    width: 20px;
    height: 20px;
  }

  .img {
    width: 7px;
    height: 7px;
  }
}
