.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.items {
  display: flex;
  justify-content: center;
}

.bigImg {
  margin-bottom: 20px;
  width: auto;
}
.imgWrapper {
  max-width: 974px;
  width: 300px;
  margin: 8px 8px 25px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.img {
  width: 100%;
  height: 370px;
  display: block;
  position: relative;
}
.text {
  padding-top: 20px;
}
.text span {
  font-size: 19px;
  color: black;
  font-weight: 1000;
}
.text p {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1293px) {
  .bigImg {
    margin-bottom: 20px;
    width: 1000px;
  }
  .imgWrapper {
    max-width: 974px;
    width: 240px;
  }
  .img {
    height: 320px;
  }
  .text {
    padding-top: 10px;
  }
  .text span {
    font-size: 16px;
  }
}

@media (max-width: 376px) {
  .bigImg {
    display: none;
  }
  .imgWrapper {
    width: 80px;
    height: 100px;
    margin: 3px 3px 15px;
  }
  .img {
    height: 100px;
  }
  .text {
    padding-top: 5px;
  }
  .text span {
    font-size: 10px;
  }
  .text p {
    font-size: 9px;
    font-weight: 500;
  }
}
