.block {
  background-color: white;
  height: 698px;
  margin: 0px 0px 48px;
  display: flex;
  justify-content: center;
}
.img {
  height: 698px;
  width: 1200px;
}

.block h1 {
  background-color: black;
  top: 50%;
  font-size: 100px;
  color: white;
  position: absolute;
  padding: 10px;
}

@media (max-width: 1200px) {
  .block {
    height: 200px;
    margin-bottom: 28px;
  }
  .img {
    width: 900px;
    height: 200px;
  }
}

@media (max-width: 376px) {
  .block {
    display: none;
  }
}
