.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding-top: 4rem;
  min-height: 100%;
}

.signIn h1 {
  margin-bottom: 20px;
}

.formWrapper {
  background-color: white;
  width: 700px;
  padding: 20px;
}

.links {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.linkWrap {
  padding: 20px;
  width: 300px;
}

.linkWrap:first-of-type {
  border-bottom: 2px solid #eeeeee;
}

.linkWrap:last-of-type {
  border-bottom: 2px solid blue;
}

.link {
  display: inline-block;
  text-align: center;
  width: 320px;
}

.linkWrap:first-of-type .link {
  border-right: 3px solid #eeeeee;
}

.linkWrap:first-of-type .a {
  color: rgb(145, 145, 145);
}

.linkWrap:first-of-type .a:hover {
  color: rgb(197, 197, 197);
  cursor: pointer;
}

.a {
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.googleAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.googlebtn {
  background-color: white;
  border: 2px solid rgb(202, 202, 202);
  padding: 20px;
  width: 150px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.googlebtn img {
  width: 20px;
  height: 20px;
}

.googlebtn:hover {
  border: 2px solid #eee;
  color: rgb(202, 202, 202);
  cursor: pointer;
}

.googleAuth p {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form label {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px 0 0 10px;
}

.form h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.form input {
  height: 40px;
}

.btn {
  color: white;
  background-color: black;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
